<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SS OTRON</title>
  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <link rel="stylesheet" type="text/css" href="../css/slick.css">
  <link rel="stylesheet" type="text/css" href="../css/slick-theme.css">
  <link rel="stylesheet" type="text/css" href="../css/common.css">
  <link rel="stylesheet" type="text/css" href="../css/main.css">

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="text/javascript" src="../js/jquery.easing.1.3.js"></script>
  <script type="text/javascript" src="../js/slick.min.js"></script>
  <script type="text/javascript" src="../js/ui.js"></script>
   <!-- Swiper JS -->
   <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

   <script type="text/javascript">
    window.location.href = '/layout/html/index.html';
  </script>
</head>
<body>
  <div id="wrap">
    <!-- skip -->
    <dl id="skip">
      <dt class="hide">메뉴 바로가기</dt>
      <dd>
        <a href="#self">주메뉴 바로가기</a>
      </dd>
      <dd>
        <a href="#self">컨텐츠 바로가기</a>
      </dd>
    </dl>
    <!-- skip -->

    <!-- header -->
    <header>
      <!-- logo -->
      <div id="header">
        <!-- nav -->
        <div class="nav in_Layer">
        <h1 class="logo"><a href="index.html">
          <img src="../images/common/logo.png" alt="logo">
          <img src="../images/common/logo_on.png" alt="logo_on">
        </a></h1>
        <!-- logo -->

        <!-- gnb -->
        <div class="gnb_area">
          <ul class="gnb">
            <!-- 기업소개 -->
            <li>
              <a href="sub0.01.html">기업소개</a>
              <ul class="depth_D">
                <li><a href="sub0.01.html">SS OTRON소개</a></li>
                <li><a href="#self">글로벌 네트워크</a></li>
                <li><a href="#self">기업인증</a></li>
                <li><a href="#self">오시는길</a></li>
              </ul>
            </li>
            <!-- 기업소개 -->

            <!-- 기업소개 -->
            <li>
              <a href="#self">제품소개</a>
              <ul class="depth_D">
                <li><a href="#self">PROCESS AUTOMATION SYSTEM</a></li>
                <li><a href="#self">LAMINATION SYSTEM</a></li>
                <li><a href="#self">INSPACTION SYSTEM</a></li>
                <li><a href="#self">PICK & PLACE</a></li>
                <li><a href="#self">TRIM/FORM/SINGULATION</a></li>
                <li><a href="#self">WLP & PLP EQUIPMENT</a></li>
                <li><a href="#self">LASER MARKING</a></li>
                <li><a href="#self">TOOL & OTHERS</a></li>
              </ul>
            </li>
            <!-- 기업소개 -->

            <!-- 고객지원 -->
            <li>
              <a href="#self">고객지원</a>
              <ul class="depth_D">
                <li><a href="#self">공지사항</a></li>
                <li><a href="#self">온라인 문의</a></li>
              </ul>
            </li>
            <!-- 고객지원 -->

            <!-- 인재채용 -->
            <li>
              <a href="#self">인재채용</a>
              <ul class="depth_D">
                <li><a href="#self">인재상</a></li>
                <li><a href="#self">채용공고</a></li>
              </ul>
            </li>
            <!-- 인재채용 -->
          </ul>
          <!-- gnb -->
        </div>
        <!-- gnb_area -->

        <!-- util -->
      <div class="util_container">
        <div class="util">
          <img src="../images/ico/lang.png" alt="언어">
          <img src="../images/ico/lang_on.png" alt="언어">
          <a href="#self">KR</a>
          <a href="#self">EN</a>
        </div>
        <a href="#self" class="menu_btn">
          <span></span>
          <span></span>
          <span></span>
        </a>
      </div>
      <!-- util -->
      </div>
      <!-- nav -->
    </div>
    <!-- #header -->
    </header>
    <!-- //header -->

    <!-- gnb_all -->
    <div class="gnb_all_wrap">
      <!-- gnb_menu -->
        <button type="button" class="gnb_menu">
          <span></span>
          <span></span>
        </button>
      <!-- gnb_menu -->
      <!-- gnb_all -->
      <div class="gnb_all">
        <ul class="gnb_all_container">
          <!-- gnb_box1 -->
          <li>
            <ul class="gnb_box">
              <li class="gnb_box_tit"><a href="sub0.01.html">기업소개</a></li>
            <div class="m_lnb">
              <li><a href="sub0.01.htmll">SS OTRON소개</a></li>
              <li><a href="#self">글로벌 네트워크</a></li>
              <li><a href="#self">기업인증</a></li>
              <li><a href="#self">오시는길</a></li>
            </div>
            </ul>
          </li>
          <!-- gnb_box1 -->

          <!-- gnb_box2 -->
          <li>
            <ul class="gnb_box">
              <li class="gnb_box_tit"><a href="#self">제품소개</a></li>
              <div class="m_lnb">
              <li><a href="#self">PROCESS AUTOMATION SYSTEM</a></li>
                <li><a href="#self">LAMINATION SYSTEM</a></li>
                <li><a href="#self">INSPACTION SYSTEM</a></li>
                <li><a href="#self">PICK & PLACE</a></li>
                <li><a href="#self">TRIM/FORM/SINGULATION</a></li>
                <li><a href="#self">WLP & PLP EQUIPMENT</a></li>
                <li><a href="#self">LASER MARKING</a></li>
                <li><a href="#self">TOOL & OTHERS</a></li>
              </div>
            </ul>
          </li>
          <!-- gnb_box2 -->

          <!-- gnb_box3 -->
          <li>
            <ul class="gnb_box">
              <li class="gnb_box_tit"><a href="#self">고객지원</a></li>
              <div class="m_lnb">
              <li><a href="#self">공지사항</a></li>
              <li><a href="#self">온라인 문의</a></li>
            </div>
            </ul>
          </li>
          <!-- gnb_box3 -->

           <!-- gnb_box3 -->
           <li>
            <ul class="gnb_box">
              <li class="gnb_box_tit"><a href="#self">인재채용</a></li>
              <div class="m_lnb">
              <li><a href="#self">인재상</a></li>
              <li><a href="#self">채용공고</a></li>
            </div>
            </ul>
          </li>
          <!-- gnb_box3 -->
        </ul>
      </div>
      <!-- gnb_all -->


        <!-- m_gnb -->
    <div class="m_gnb_box">
	<div class="in_Layer">
		<h1 class="logo"><a href="index.html">
			  <img src="../images/common/logo_on.png" alt="logo">
			</a></h1>
		<div class="util">
          <img src="../images/ico/lang_on.png" alt="언어">
          <a href="#self">KR</a>
          <a href="#self">EN</a>
        </div>
	</div>
      <ul class="m_gnb">
        <!-- 기업소개 -->
        <li>
          <a href="sub0.01.html">기업소개</a>
          <ul class="m_depth_D">
            <li><a href="sub0.01.html">SS OTRON소개</a></li>
            <li><a href="#self">글로벌 네트워크</a></li>
            <li><a href="#self">기업인증</a></li>
            <li><a href="#self">오시는길</a></li>
          </ul>
        </li>
        <!-- 기업소개 -->

        <!-- 제품소개 -->
        <li>
          <a href="#self">제품소개</a>
          <ul class="m_depth_D">
            <li><a href="#self">PROCESS AUTOMATION SYSTEM</a></li>
            <li><a href="#self">LAMINATION SYSTEM</a></li>
            <li><a href="#self">INSPACTION SYSTEM</a></li>
            <li><a href="#self">PICK & PLACE</a></li>
            <li><a href="#self">TRIM/FORM/SINGULATION</a></li>
            <li><a href="#self">WLP & PLP EQUIPMENT</a></li>
            <li><a href="#self">LASER MARKING</a></li>
            <li><a href="#self">TOOL & OTHERS</a></li>
          </ul>
        </li>
        <!-- 제품소개 -->

        <!-- 고객지원 -->
        <li>
          <a href="#self">고객지원</a>
          <ul class="m_depth_D">
            <li><a href="#self">공지사항</a></li>
            <li><a href="#self">온라인 문의</a></li>
          </ul>
        </li>
        <!-- 고객지원 -->

        <!-- 인재채용 -->
        <li>
          <a href="#self">인재채용</a>
          <ul class="m_depth_D">
            <li><a href="#self">인재상</a></li>
            <li><a href="#self">채용공고</a></li>
          </ul>
        </li>
        <!-- 인재채용 -->
      </ul>
      <!-- gnb -->
    </div>
    <!-- //m_gnb -->
    </div>
    <!-- //gnb_all_wrap -->

    <!-- visual -->
    <div id="visual">
      <div class="main_visual">
        <!-- visual01 -->
        <div class="main_visual_slider visual01">
          <div class="slogun">
            <p class="mc_tit">Advancing Tomorrow, <br>
            Leading Today</p>
            <p class="mc_txt">에스에스오트론은 미래를 준비하고 오늘을 이끌어 갑니다.</p>
          </div>
        </div>
        <!-- visual01 -->

        <!-- visual02 -->
        <div class="main_visual_slider visual02">
          <div class="slogun">
            <p class="mc_tit">Transforming <br>
              Ideas into Reality </p>
            <p class="mc_txt">에스에스오트론은 아이디어를 현실로 구현합니다</p>
          </div>
        </div>
        <!-- visual02 -->

        <!-- visual03 -->
        <div class="main_visual_slider visual03">
          <div class="slogun">
            <p class="mc_tit">Connecting the World <br>
              with Innovation</p>
            <p class="mc_txt">에스에스오트론은 혁신을 통해 세상을 하나로 연결합니다.</p>
          </div>
        </div>
        <!-- visual03 -->

        <!-- visual04 -->
        <div class="main_visual_slider visual04">
          <div class="slogun">
            <p class="mc_tit">Breaking Beyond  <br>
              Boundaries</p>
            <p class="mc_txt">에스에스오트론은 한계를 뛰어넘어 새로운 가능성을 열어갑니다</p>
          </div>
        </div>
        <!-- visual04 -->
      </div>
      <!-- arrow -->
      <div class="slick_arrow_wrap">
        <div class="mv-prev"><img src="../images/ico/slider_left_arrow.png" alt=""></div>
        <div class="mv-next"><img src="../images/ico/slider_right_arrow.png" alt=""></div>
      </div>
      <!-- arrow -->

      <!-- scroll Down -->
      <div class="scroll_down_box">
        <p class="scroll_txt">SCROLL DOWN</p>
        <div class="scroll_box">
          <div class="scroll_wheel"></div>
        </div>
      </div>
      <!-- scroll Down -->
    </div>
    <!-- //visual -->

    <!-- section01 -->
    <div class="section01">
      <div class="in_Layer cf">
        <!-- title -->
        <div class="title">
          <p class="mc_tit">PRODUCTS</p>
          <div class="more_btn">
            <a href="#self">MORE VIEW <span>→</span></a>
          </div>
        </div>
        <!-- title -->

        <!-- section01_slider -->
        <div class="section01_main_slider">
          <!-- slider01 -->
          <div class="section01_slider">
            <a href="#self" class="card">
              <img src="../images/contents/banner01.png" alt="">
              <div class="card_txt">
                <p>PROCESS AUTOMATION SYSTEM</p>
              </div>
            </a>
          </div>
           <!-- slider01 -->

            <!-- slider02 -->
          <div class="section01_slider">
            <a href="#self" class="card">
              <img src="../images/contents/banner02.png" alt="">
              <div class="card_txt">
                <p>LAMINATION SYSTEM</p>
              </div>
            </a>
          </div>
           <!-- slider02 -->

            <!-- slider03 -->
          <div class="section01_slider">
            <a href="#self" class="card">
              <img src="../images/contents/banner03.png" alt="">
              <div class="card_txt">
                <p>INSPACTION SYSTEM</p>
              </div>
            </a>
          </div>
           <!-- slider03 -->

            <!-- slider04 -->
          <div class="section01_slider">
            <a href="#self" class="card">
              <img src="../images/contents/banner04.png" alt="">
              <div class="card_txt">
                <p>PICK & PLACE</p>
              </div>
            </a>
          </div>
           <!-- slider04 -->

            <!-- slider05 -->
          <div class="section01_slider">
            <a href="#self" class="card">
              <img src="../images/contents/banner05.png" alt="">
              <div class="card_txt">
                <p>TRIM/FORM/SINGULATION</p>
              </div>
            </a>
          </div>
           <!-- slider05 -->

            <!-- slider06 -->
          <div class="section01_slider">
            <a href="#self" class="card">
              <img src="../images/contents/banner06.png" alt="">
              <div class="card_txt">
                <p>WLP & PLP EQUIPMENT</p>
              </div>
            </a>
          </div>
           <!-- slider06 -->

        </div>
      </div>
    </div>
    <!-- //section01 -->

    <!-- section02 -->
    <div id="contents">
      <div class="main_contents">
        <div class="section02 main_sec">
          <div class="mc02_slogun">
            <p class="mc_tit">SS OTRON SOLUTIONS</p>
            <p class="mc_txt">에스에스오트론은 차별화된 기술력과 고객 맞춤형 솔루션을 통해 
              글로벌 시장에서 경쟁력을 강화하고 있습니다. <br class="br3"> 
              끊임없는 혁신과 빠른 대응으로 함께 성장하는 파트너가 되겠습니다.</p>
          </div>

          <div class="mc02_slider_wrap">
            <div class="in_Layer">
              <div class="mc02_prev mc02_arr"></div>
              <div class="mc02_next mc02_arr"></div>
              <ul class="mc02_slider">
                <li>
                  <a class="mc02_box">
                    <div class="mc02_cir">
                      <div class="cell">
                        <img src="../images/contents/mc02_ico01.png"> 
                        <div class="dot"></div>
                        <h2>연구개발</h2>
                      </div><!--cell-->
                    </div><!--mc02_cir-->
                  </a><!--mc02_box-->
                </li>
                <li>
                  <a class="mc02_box">
                    <div class="mc02_cir">
                      <div class="cell">
                        <img src="../images/contents/mc02_ico02.png"> 
                        <div class="dot"></div>
                        <h2>설계</h2>
                      </div><!--cell-->
                    </div><!--mc02_cir-->
                  </a><!--mc02_box-->
                </li>
                <li>
                  <a class="mc02_box">
                    <div class="mc02_cir">
                      <div class="cell">
                        <img src="../images/contents/mc02_ico03.png"> 
                        <div class="dot"></div>
                        <h2>생산</h2>
                      </div><!--cell-->
                    </div><!--mc02_cir-->
                  </a><!--mc02_box-->
                </li>
                <li>
                  <a class="mc02_box">
                    <div class="mc02_cir">
                      <div class="cell">
                        <img src="../images/contents/mc02_ico04.png"> 
                        <div class="dot"></div>
                        <h2>소프트웨어</h2>
                      </div><!--cell-->
                    </div><!--mc02_cir-->
                  </a><!--mc02_box-->
                </li>
                <li>
                  <a class="mc02_box">
                    <div class="mc02_cir">
                      <div class="cell">
                        <img src="../images/contents/mc02_ico05.png"> 
                        <div class="dot"></div>
                        <h2>기술지원</h2>
                      </div><!--cell-->
                    </div><!--mc02_cir-->
                  </a><!--mc02_box-->
                </li>
              </ul><!--mc02_slider-->
              <script>
                $(document).ready(function(){
                  $(".mc02_slider").slick({
                    autoplay:true,
                    autoplaySpeed:3500,
                    pauseOnHover:false,
                    slidesToShow: 5,
                    arrows:true,
                    speed:1000,
                    dots: false, 
                    fade: false,
                    prevArrow: $('.mc02_prev'), //이전 화살표만 변경
                    nextArrow: $('.mc02_next'),
                      speed:800,
                     responsive: [
                    {
                      breakpoint: 1320,
                      settings: {
                      slidesToShow: 4,
                      }
                    },
                    {
                      breakpoint: 1080,
                      settings: {
                      slidesToShow: 3,
                        
                      }
                    },
                    {
                      breakpoint: 800,
                      settings: {
                      slidesToShow: 2,
                        
                      }
                    }
                    ]
                  });
                });
              </script>
            </div><!--in_Layer-->
          </div><!--mc02_slider_wrap-->
        </div><!--section02-->
      </div><!--main_contents-->
    </div><!-- end : id : contents -->
    <!-- //section02 -->

    <!-- section03 -->
    <div class="section03">
       <div class="in_Layer">
         <!-- title -->
        <div class="title">
          <p class="mc_tit">SS OTRON NEWS</p>
          <div class="more_btn">
            <a href="#self">MORE VIEW <span>→</span></a>
          </div>
        </div>
         <!-- title -->
        </div>

        <!-- section03_main_slider -->
        <div class="swiper section03_main_slider">
          <div class="swiper-wrapper">
            <!-- slider01 -->
            <div class="swiper-slide">
              <a href="#self" class="card">
                <div class="top_tit">
                  <p>2024-10-08</p>
                  <p>공지사항</p>
                </div>
                <img src="../images/contents/sec01.jpg" alt="">
                <div class="bot_tit">
                  <p class="mc_tit">에스에스오트론(주) 홈페이지
                    오픈중입니다. 감사합니다.</p>
                  <p class="mc_txt">저희 에스에스오트론(주) 홈페이지를 찾아주
                    셔서 진심으로 감사드립니다.</p>
                </div>
                <div class="arrow_box"></div>
              </a>
            </div>
             <!-- slider01 -->

             <!-- slider02 -->
          <div class="swiper-slide">
            <a href="#self" class="card">
              <div class="top_tit">
                <p>2024-10-08</p>
                <p>공지사항</p>
              </div>
              <img src="../images/contents/sec02.jpg" alt="">
              <div class="bot_tit">
                <p class="mc_tit">반도체 장비 및 초정밀 자동화 
                  장비·정밀가공 부품 생산기업,...</p>
                <p class="mc_txt">저희 에스에스오트론은 지난 수년간 정밀가공 
                  및 반도체 장비를 생산해 오면서 축적한 
                  최고의 기술 전문가와 노하우를 최대한 활용</p>
              </div>
              <div class="arrow_box"></div>
            </a>
          </div>
          <!-- slider02 -->

          <!-- slider03 -->
          <div class="swiper-slide">
            <a href="#self" class="card">
              <div class="top_tit">
                <p>2024-10-08</p>
                <p>공지사항</p>
              </div>
              <img src="../images/contents/sec03.jpg" alt="">
              <div class="bot_tit">
                <p class="mc_tit">다양한 정밀가공 부품 및 초정밀 
                  자동화 장비를 생산해왔습니다.</p>
                <p class="mc_txt">선진기술에 대한 자부심과 함께 생산직에서 
                  경영진에 이르는 헌신적인 전 직원들은 
                  제품에 대한 가장 합리적인 납기와 품질을...</p>
              </div>
              <div class="arrow_box"></div>
            </a>
          </div>
          <!-- slider03 -->

          <!-- slider04 -->
          <div class="swiper-slide">
            <a href="#self" class="card">
              <div class="top_tit">
                <p>2024-10-08</p>
                <p>공지사항</p>
              </div>
              <img src="../images/contents/sec04.jpg" alt="">
              <div class="bot_tit">
                <p class="mc_tit">생산 공정 개선을 위한 지속적인 
                  연구개발을 통해 고객과 회사를...</p>
                <p class="mc_txt">앞으로도 저희 에스에스오트론은 고도로 
                  숙련된 작업자와 다양한 정밀장비의 표준화된
                  생산라인을 통해 고객 여러분께 최고 품질의...</p>
              </div>
              <div class="arrow_box"></div>
            </a>
          </div>
          <!-- slider04 -->

          <!-- slider05 -->
          <div class="swiper-slide">
            <a href="#self" class="card">
              <div class="top_tit">
                <p>2024-10-08</p>
                <p>공지사항</p>
              </div>
              <img src="../images/contents/sec05.jpg" alt="">
              <div class="bot_tit">
                <p class="mc_tit">반도체 장비 및 초정밀 자동화 
                  장비·정밀가공 부품 생산기업</p>
                <p class="mc_txt">동종 업계 다른 기업과의 공정한 경쟁을 통해 
                  최고의 기업이 되기 위해 끊임없이 도전하면서 
                  항상 고객의 편에서 서서 고객과 함께 할 것을...</p>
              </div>
              <div class="arrow_box"></div>
            </a>
          </div>
          <!-- slider05 -->

          <!-- slider06 -->
          <div class="swiper-slide">
            <a href="#self" class="card">
              <div class="top_tit">
                <p>2024-10-08</p>
                <p>공지사항</p>
              </div>
              <img src="../images/contents/sec06.jpg" alt="">
              <div class="bot_tit">
                <p class="mc_tit">반도체 장비 및 초정밀 자동화 
                  장비·정밀가공 부품 생산기업</p>
                <p class="mc_txt">동종 업계 다른 기업과의 공정한 경쟁을 통해 
                  최고의 기업이 되기 위해 끊임없이 도전하면서 
                  항상 고객의 편에서 서서 고객과 함께 할 것을...</p>
              </div>
              <div class="arrow_box"></div>
            </a>
          </div>
          <!-- slider06 -->

          <!-- slider07 -->
          <div class="swiper-slide">
            <a href="#self" class="card">
              <div class="top_tit">
                <p>2024-10-08</p>
                <p>공지사항</p>
              </div>
              <img src="../images/contents/sec06.jpg" alt="">
              <div class="bot_tit">
                <p class="mc_tit">에스에스오트론(주) 홈페이지
                  오픈중입니다. 감사합니다.</p>
                <p class="mc_txt">저희 에스에스오트론(주) 홈페이지를 찾아주
                  셔서 진심으로 감사드립니다.</p>
              </div>
              <div class="arrow_box"></div>
            </a>
          </div>
          <!-- slider07 -->
          </div>
        </div>
         <!-- section03_main_slider -->
            <!-- swiper_btn_box -->
            <div class="swiper_btn_box">
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
            </div>
            <!-- swiper_btn_box -->
    </div>
    <!-- //section03 -->

    <!-- footer -->
    <footer>
      <div id="footer">
      <!-- f_info_top -->
      <div class="f_info_top in_Layer">
        <!-- logo -->
        <h1 class="logo">
          <a href="index.html">
            <img src="../images/common/logo_f.png" alt="푸터 로고">
          </a>
        </h1>
         <!-- logo -->

         <!-- f_top_left -->
         <ul class="f_top_left">
          <li>에스에스오트론(주)</li>
          <li>대표이사: 신계철</li>
          <li>주소: 인천광역시 서구 파랑로482번길 39(청라동)</li>
          <li><span>TEL: 032-519-5490~1</span><span>FAX: 032-513-5490</span><span class="br1">E-MAIL: sales@ssotron.co.kr</span></li>
          <li><span>사업자등록번호: 122-86-02850</span><span class="br2">업종: LED 반도체 장비 제조 외</span></li>
         </ul>
         <!-- f_top_left -->

         <!-- f_top_right -->
         <div class="f_top_right">
          <a href="#self">온라인문의 →</a>
          <a href="#self">개인정보처리방침 →</a>
         </div>
         <!-- f_top_right -->
      </div>
      <!-- f_info_top -->

      <!-- f_info_bot -->
      <div class="f_info_bot in_Layer">
        <p>COPYRIGHTS ⓒ SS OTRON CO., LTD. ALL RIGHT RESERVED  created by <a href="#self">SINBIWEB.</a></p>
      </div>
      <!-- f_info_bot -->
    </div>
    </footer>
     <!-- //footer -->
  </div>
</body>
</html>