/* layout */
body, html{width:100%; height:100%;}
#wrap{width:100%;}
#board_header{margin-bottom:50px; width:100%; height:100px; background:#888;}
#board_footer{margin-top:50px; width:100%; height:100px; background:#888;}
#contents{width:100%;}

#skip{}
#skip a{display:block; position:absolute; top:0; width:0; height:0; margin-top:-1px; text-align:center; white-space:nowrap; overflow:hidden; text-decoration:none;}
#skip a:focus, #skip a:active{position:relative; top:0; left:0;  width:100%; height:40px; line-height:40px; font-size:18px; font-weight:bold; color:#fff; background-color:#333; z-index:100;}

.in_ContLayer{width:auto; max-width:865px; min-width:320px; margin:0 auto;}
.community_Area{padding:0 2%; width:100%;}

tr.board_type1 .board_font1{color:#000000 !important; font-weight:600 !important;}
tr.board_type1 > td:nth-child(2){font-weight:600;}

 table.boardTable{width:100%; border-top:1px solid #3d464c; border-collapse:collapse; border-spacing:0;}
 table.boardTable th{padding:14px 0; font-size:13px; color:#3f4244; background-color:#f6f6f6; border-bottom:1px solid #ddd;}
 table.boardTable tbody{text-align:center; background:#fff;}
 table.boardTable tr{border-bottom:1px solid #ddd;}
 table.boardTable tr td{padding:14px 0; font-size:13px; color:#666; line-height:1.4em;}
 table.boardTable tr td > a{font-size:15px; color:#000; line-height:1.4em;}
 table.boardTable tr td > a:hover,
 table.boardTable tr td > a:active,
 table.boardTable tr td > a:focus{color:#333; text-decoration:underline;}
 table.boardTable tr td span{display:inline-block; margin:0 0 0 10px; width:13px; height:14px; font-size:0; vertical-align:top;}
 table.boardTable tr td.left {text-align:left; }

.btn_R_Area{width:100%; text-align:right; font-size:0;}
a.btnStyle{display:inline-block;}
a.btnStyle.write{margin-top:20px; padding:0 0 0 49px; width:120px; height:35px; font-size:13px; color:#fefefe; font-weight:600; line-height:35px; text-align:left; background:#23336C url("../images/board/bt-ico01.png") no-repeat 28px center;}
a.btnStyle.commentBt{float:right; padding:0 0 0 47px; width:120px; height:35px; font-size:13px; color:#fefefe; font-weight:600; line-height:35px; text-align:left; background:#666 url("../images/board/bt-ico01.png") no-repeat 26px center;}
a.btnStyle02{display:inline-block; margin-top:20px; margin-left:5px; padding:0 0 0 37px; width:85px; height:35px; font-size:13px; color:#fefefe; font-weight:600; line-height:35px; text-align:left;}
a.btnStyle02.list01{background:#23336C url("../images/board/bt-ico03.png") no-repeat 16px center;}
a.btnStyle02.list02{background:#999 url("../images/board/bt-ico04.png") no-repeat 16px center;}
a.btnStyle02.list03{background:#999 url("../images/board/bt-ico05.png") no-repeat 16px center;}
a.btnStyle02.list04{background:#23336C url("../images/board/bt-ico06.png") no-repeat 16px center;}
a.btnStyle02.list05{background:#999 url("../images/board/bt-ico07.png") no-repeat 16px center;}
a.btnStyle02.list06{background:#999 url("../images/board/bt-ico08.png") no-repeat 16px center;}

.paging_Layer{margin-top:40px; width:100%; text-align:center;}
.paging_Layer a{ display:inline-block; width:34px; height:34px; font-size:12px; color:#333; font-weight:600; line-height:30px; border:1px solid #ddd; }
.paging_Layer span > a{display:inline-block; width:34px; height:34px; font-size:12px; color:#333; font-weight:600; line-height:30px; border:1px solid #ddd;}
.paging_Layer span > a.on,
.paging_Layer span > a:hover,
.paging_Layer span > a:active,
.paging_Layer span > a:focus{border:1px solid #333;}

 .search-Box{width:455px; margin:20px auto;}
 .search-Box:after{display:block;content:'';clear:both;}
 .search-Box > div{float:left;}
 .search-Box select{padding:8px 8px; width:120px; height:35px; font-size:13px; color:#888; border:1px solid #ddd;}
 .search-Box > div.c{margin:0 5px;}
 .search-Box:after{display:block;content:'';clear:both;}
 .search-Box > div{float:left;}
 .inputType{position:relative;}
 .inputType > input{padding:10px; width:245px; height:35px; font-size:13px; color:#888; border:1px solid #ddd;}
 .inputType > label{position:absolute; top:0; left:-99999px; font-size:0; text-indent:-9999px;}
button.buttonStyle.search{display:block; padding:0 0 0 35px; width:80px; height:35px; font-size:13px; color:#fff; text-align:left; background:#666 url("../images/board/bt-ico02.png") no-repeat 16px center;}


 .view-inner{width:100%; border-top:1px solid #333; }
 .v-title{padding:20px; width:100%; font-size:16px; color:#333; font-weight:600; border-bottom:1px solid #ddd; background:#f6f6f6; }
 .v-info{padding:15px 20px; width:100%; height:45px; background:#fff; border-bottom:1px solid #ddd;}
 .v-info:after{display:block;content:'';clear:both;}
 .v-info > div{float:left; font-size:13px; color:#777;}
 .v-info > div strong{font-size:13px; color:#333;} 
 .v-info > div.d{padding-left:30px;}
 .v-info > div.r{float:right;}
 .v-file{position:relative; width:100%; height:45px; border-bottom:1px solid #ddd; background:#fff url("../images/board/ico_file_off.png") 98% 50% no-repeat;}
 .v-file.on{background:#fff url("../images/board/ico_file_on.png") 98% 50% no-repeat;}
 .v-file > p{padding:15px 20px; width:100%; height:45px; font-size:13px; color:#333; font-weight:600; cursor:pointer;}
 .v-file > p > b{display:inline-block; padding:0 3px; font-size:13px; color:#23336C;}
 .file-list{display:none; position:absolute; top:45px; left:0; padding:15px 20px; width:100%; border-bottom:1px solid #ddd; background-color:#f6f6f6;}
 .file-list a{display:inline-block; font-size:13px; color:#666; line-height:25px; text-indent:5px; vertical-align:middle;}
 .file-list a:hover{color:#23336C; text-decoration:underline; -webkit-transition:all 0.3s ease-out; -moz-transition:all 0.3s ease-out; -o-transition:all 0.3s ease-out; transition:all 0.3s ease-out;}

 .v_cont{padding:40px 20px 40px 20px; width:100%; font-size:14px; color:#000; line-height:1.8em; border-bottom:1px solid #ddd;}

@media all and (max-width:480px){
	 .search-Box{width:300px;}
	 .search-Box select{width:90px;}
	 .inputType > input{width:100px;}
	 .v-info > div.d{padding-left:10px;}
	 .v-info > div.r{display:none;}
}

 .comment-box{width:100%;}
 .comment-box .cm_title{padding:0 0 20px 0; font-size:13px; color:#333; border-bottom:1px solid #ddd;}
 .comment-box .cm_title > b{color:#000000;}
 .comment-box .comment{padding:16px 18px; width:100%; border-bottom:1px solid #ddd;}
 .comment-box .cm_info{padding:0 0 12px 0; width:100%; font-size:15px; color:#666;;}
 .comment-box .cm_info strong{font-size:13px; color:#333; font-weight:600;}
 .comment-box .cm_info b{display:inline-block; padding:0 2%;}
 .comment-box .cm_info a.cm_del{display:inline-block; margin:0 0 0 8px; vertical-align:top; cursor:pointer;}
 .comment-box .cm_info input.cm_input{margin:0 0 0 2%; padding:0 8px; width:150px; height:30px; font-size:13px; color:#333; line-height:30px; border:1px solid #ddd;}
 .comment-box .cm_contents{width:100%; font-size:14px; color:#000; line-height:1.8em;}

 .cm_comment{padding:22px 20px; width:100%; border:1px solid #bbb;}
 .cm_table_info{width:100%;}
 .cm_table_info:after{display:block; content:''; clear:both;}
 .cm_table_info > li{float:left;}
 .cm_table_info > li:last-child{padding-left:30px;}
 .cm_name{display:inline-block; padding-top:6px; padding-right:10px; font-size:13px; color:#666;}
 .cm_inputType{padding:7px; width:150px; height:40px; font-size:13px; color:#333; border:1px solid #ddd;}
 .cm_inputType2{padding:7px; width:80px; height:40px; font-size:13px; color:#333; border:1px solid #ddd;}
 .cm_inputType3{padding:7px; width:240px; height:40px; font-size:13px; color:#333; border:1px solid #ddd;}
 .cm_comment .textarea{margin:20px 0; padding:12px; width:100%; height:83px; font-size:13px; color:#333; line-height:1.6em; word-break:break-all; border:1px solid #ddd; resize:none;}
 .cm_comment .spamcode{width:100%; font-size:0;}
 .cm_comment .spamcode:after{display:block; content:''; clear:both;}
 .cm_comment .spamcode input#special{margin:0 10px 0 5px; vertical-align:top;}
 .spamcode > label > img{vertical-align:top;}

.m_block{display:inline;}
.m_block02{display:inline;}
.m_block02 > label{vertical-align:top;}
@media all and (max-width:680px){
	.m_block02{display:block; padding:0 0 10px 0;}
	.cm_inputType3{padding:7px; width:40% !important; height:30px; font-size:13px; color:#333; border:1px solid #ddd;}
}
@media all and (max-width:500px){
.m_block{display:block; padding:4% 0 0 0;}
	.comment-box .cm_info input.cm_input{margin:0 0 0 0;}
}

 .page_Btn{width:100%; border-top:1px solid #ddd; border-bottom:1px solid #ddd;}
 .page_Btn .p_btn{width:100%;}
 .page_Btn .p_btn:after{display:block; content:''; clear:both;}
 .page_Btn .p_btn .title{float:left; padding:15px 20px; font-size:13px; color:#666;}
 .page_Btn .p_btn .title > b{display:inline-block; padding:0 10px; font-size:13px; color:#666;}
 .page_Btn .p_btn a{display:block; float:left; padding:15px 20px; width:610px; font-size:13px; color:#777; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
 .page_Btn .p_btn .day{float:right; padding:15px 20px; font-size:13px; color:#666; text-align:right;}
 .page_Btn .p_btn.p{border-top:1px solid #ddd;}

 .hybrid_boardArea{width:100%;}
 .hybrid_TableWrite{width:100%; border-top:2px solid #23336C; border-collapse: collapse;}
 .hybrid_TableWrite th{height:60px; padding:15px 0 15px 0; border-bottom:1px solid #ddd; font-size:15px; color:#333; font-weight:300; }
 .hybrid_TableWrite td{height:60px; padding:10px 0 10px 0; border-bottom:1px solid #ddd; font-size:15px; color:#333; font-weight:300; }
 .hybrid_TableWrite .b_select{margin-left:10px; width:150px; height:30px; color:#999;}
 .hybrid_TableWrite .b_select2{width:80px; height:30px; color:#999;}
 .hybrid_TableWrite .textarea{padding:8px;font-family: "나눔고딕"; font-size:12px; width:100%; height:300px; font-size:13px; color:#333; line-height:1.6em; word-break:break-all; border:1px solid #ddd; resize:none;}
 .hybrid_TableWrite label img{vertical-align:top;}
 .hybrid_TableWrite #b_special{margin:0 10px 0 0; vertical-align:top;}

.btn_C_Area{position:relative; width:100%; text-align:center;}

button.buttonStyle { border-radius:10px; margin:0 4px; width:200px; height:60px; display:inline-block; cursor:pointer;  font-size:18px; font-weight:500; letter-spacing:-0.05em; color:#fff;}
button.buttonStyle.write_ok{ padding:0 0 0 10px;  background:#23336C url("../images/board/bt-ico06.png") no-repeat 26px center;}
button.buttonStyle.cancel{ padding:0 0 0 10px;  background:#999 url("../images/board/bt-ico08.png") no-repeat 33px center;}
button.buttonStyle.back{ padding:0 0 0 10px;  background:#999 url("../images/board/bt-ico07.png") no-repeat 23px center;}


@media all and (max-width:865px){
	.dis_none{display:none !important;}
}
@media all and (max-width:860px){
 .page_Btn .p_btn .title{padding:15px 1%; width:18%;}
 .page_Btn .p_btn .title > b{padding:0;}
 .page_Btn .p_btn a{padding:15px 10px; width:60%;}
 .page_Btn .p_btn .day{width:20%; padding:15px 1%;}
}
@media all and (max-width:640px){
 .cm_table_info > li{width:50%;}
 .cm_table_info > li:last-child{padding-left:0;}
 .cm_inputType{width:85px;}
 .cm_inputType2{width:60px;}
 .hybrid_TableWrite #b_select{margin-left:1%; width:46%;}
}



/* login */
.member_loginArea{width:100%;}
#contents .member-Box{width:100%; max-width:530px; margin:0 auto;}
#contents .member-Box .subTitle{padding-bottom:20px; width:100%; text-align:center; }
#contents .member-Box .subTitle span{font-family:"나눔고딕", sans-serif; font-size:16px; color:#666; font-weight:300;}

#contents .loginTab-Type{width:100%; position:relative;}
#contents .loginTab-Type:after{content:""; display:block; clear:both;}
#contents .tab-navi{margin-bottom:30px; width:100%;}
#contents .tab-navi:after{content:""; display:block; clear:both;}
#contents .tab{float:left; width:50%; height:50px; border:1px solid #ddd; border-bottom:1px solid #000000; background-color:#f5f5f5; cursor:pointer; position:relative;
-webkit-transition:all .2s ease-out;
-moz-transition:all .2s ease-out;
-o-transition:all .2s ease-out;
transition:all .2s ease-out;}
#contents .tab>span{position:absolute; top:50%; left:0; display:block; width:100%; height:auto; font-size:14px; color:#000000; text-align:center;
-webkit-transform:translate3d(0, -50%, 0);
-moz-transform:translate3d(0, -50%, 0);
-o-transform:translate3d(0, -50%, 0);
transform:translate3d(0, -50%, 0);}
#contents .tab.on{border:1px solid #000000; border-bottom:1px solid #fff; background-color:#FFF;}

#contents .tab-Area{width:100%; }

#contents .input-p{margin-bottom:10px; width:100%; position:relative;}
#contents .input-p2{position:relative;}
#contents .input-p>label{position:absolute; top:50%; left:18px; width:100%; height:auto; font-size:16px; color:#666;
-webkit-transform:translate3d(0, -50%, 0);
-moz-transform:translate3d(0, -50%, 0);
-o-transform:translate3d(0, -50%, 0);
transform:translate3d(0, -50%, 0);}
#contents .input-p2>label{position:absolute; top:50%; left:24px; height:auto; font-size:13px; color:#999;
-webkit-transform:translate3d(0, -50%, 0);
-moz-transform:translate3d(0, -50%, 0);
-o-transform:translate3d(0, -50%, 0);
transform:translate3d(0, -50%, 0);}
#contents .input-p>input{padding:18px; width:100%; font-size:14px; color:#666; border:1px solid #ddd; background-color:#FFF;}
#contents .idSave{margin-top:20px; width:100%;}	
#contents .idSave>label{display:inline-block; padding-left:6px; font-size:14px; color:#666; vertical-align:-2px;}

#contents .loginBtn{margin:30px 0; width:100%;}
#contents .loginBtn>button{width:100%; height:50px; font-size:18px; color:#fff; font-weight:400; background:#000000; border:none;}

#contents .login-btn{padding:20px 0; width:100%; text-align:center; border-top:1px solid #ddd;}
#contents .login-btn>a{font-size:16px; color:#666; text-decoration:none;}
#contents .login-btn>a:hover{color:#333;}
#contents .login-btn>span{display:inline-block; padding:0 10px; font-size:14px; color:#ddd;}

#contents .find_result{padding:50px 0; width:100%; border:1px solid #ddd;}
#contents .find_result>p{width:100%; font-size:18px; color:#333; text-align:center;}
#contents .new_pass{margin:30px 0; width:100%;}
#contents .find-Btn{margin:30px 0;text-align:center;}

#contents .nonMember-Type{margin:50px auto 50px; padding:50px 0; width:100%; text-align:center; border-top:1px solid #333; border-bottom:1px solid #333;}
#contents .nonM_Title{padding:0 0 20px 0; width:100%; font-size:28px; color:#575a5d; font-weight:400;}
#contents .p_txt15{padding:0 0 50px 0; width:100%; font-size:15px; color:#666;}

/* 이용약관 */
#contents .hy_join_Area{width:100%;}
#contents .hy_joinTab{margin:0 0 40px 0; width:100%;}
#contents .hy_joinTab:after{display:block;content:'';clear:both;}
#contents .hy_joinTab > li{float:left; width:33.33%; text-align:center;}
#contents .hy_joinTab > li > span{display: block; padding: 65px 0 0 0; width: 100%; height: 100px; font-size: 13px; color: #333; border-top: 1px solid #ddd; border-left: 1px solid #ddd; border-bottom: 1px solid #ddd; cursor: default;}
#contents .hy_joinTab > li > span.on{width:100%; border-top:1px solid #333; border-left:1px solid #333; border-bottom:1px solid #333; border-right:1px solid #333 !important; background-color:#fff;}
#contents .hy_joinTab > li > span.ico_1{background:#f5f5f5 url("../images/board/ico_joinStep01.png") center 22px no-repeat;}
#contents .hy_joinTab > li > span.ico_2{background:#f5f5f5 url("../images/board/ico_joinStep02.png") center 22px no-repeat;}
#contents .hy_joinTab > li > span.ico_3{background:#f5f5f5 url("../images/board/ico_joinStep03.png") center 22px no-repeat; border-right:1px solid #ddd;}
#contents .hy_joinTab > li > span.ico_1.on{background:#fff url("../images/board/ico_joinStep01_on.png") center 22px no-repeat;}
#contents .hy_joinTab > li > span.ico_2.on{background:#fff url("../images/board/ico_joinStep02_on.png") center 22px no-repeat;}
#contents .hy_joinTab > li > span.ico_3.on{background:#fff url("../images/board/ico_joinStep03_on.png") center 22px no-repeat; border-right:1px solid #ddd;}
#contents .hy_editBox{width:100%;}
#contents .hy_editBox h3.h3_JoinTitle{padding:0 0 10px 0; width:100%; font-size:16px; color:#333; font-weight:600;}
#contents .hy_editBox .hy_edit_inner{padding:10px; width:100%; height:202px; font-size:13px; color:#666; line-height:24px; overflow-y:auto; border:1px solid #ddd; background-color:#fff;}
#contents .hy_Agree_Div{padding:10px 0 0 0; width:100%; text-align:right;}
#contents .hy_Agree_Div span{display:inline-block; padding-left:10px;}
#contents .hy_Agree_Div span label{padding:0 0 0 4px; font-size:13px; color:#666; vertical-align:top;}
#contents .hy_allAgree{margin-top:50px; padding:20px; width:100%; text-align:center; border-top:1px solid #ddd; border-bottom:1px solid #ddd;}
#contents .hy_allAgree > input{display:inline-block; vertical-align:-2px;}
#contents .hy_allAgree > label,
#contents .hy_allAgree > label strong{font-size:15px; color:#666;}

.hy_Btn_C{width:100%; text-align:center; font-size:0;}
.hy_Btn_C > button{cursor:pointer;}
button.by_ButtonStyle.ok{padding:0 0 0 56px; width:120px; height:35px; font-size:13px; color:#fff; font-weight:600; text-align:left; background:#23336C url("../images/board/bt-ico06.png") no-repeat 36px center;}
button.by_ButtonStyle.cancel{padding:0 0 0 56px; margin-left:10px; width:120px; height:35px; font-size:13px; color:#fff; font-weight:600; text-align:left; background:#999 url("../images/board/bt-ico08.png") no-repeat 36px center;}
.hy_join_Area .hy_joinInfo{margin:0 0 10px 0; font-size:13px; color:#666;}
.hy_join_Area b.name-point{padding:0 4px 0 0; font-size:16px; color:#23336C; font-weight:300;}
.hy_join_Area .hybrid_TableWrite{border-top:1px solid #333;}
.hy_join_Area .hybrid_TableWrite span.j_text{display:inline-block; padding:0 0 0 14px; font-size:13px; color:#666;}
.hy_join_Area select.j_select{width:150px; height:30px; font-size:13px; color:#999;}
.hy_join_Area select.j_select2{width:80px; height:30px; font-size:13px; color:#999;}
.hy_join_Area .j_InputB{display:inline-block; margin:0 0 0 4px; width:92px; height:30px; font-size:13px; color:#333; text-align:center; line-height:30px; background:#fff; border:1px solid #bbb; cursor:pointer;}

span.span_block{display:block;}

.hy_join_finish{margin-bottom:30px; padding:4% 0; width:100%; text-align:center; border-top:1px solid #ddd; border-bottom:1px solid #ddd;}
.hy_join_finish .p_f24Type{padding-bottom:3%; font-size:24px; color:#333; font-weight:600; line-height:28px;}
.hy_join_finish .p_f14Type{font-size:14px; color:#666; line-height:24px;}

@media all and (max-width:680px){
	.hy_join_Area select.j_select{width:46%;}
}

/* 리스트갤러리형 */
/* photo_List */
.photo_ListArea{width:100%;}
.hy_photo_List{width:100%;}
.hy_photo_List:after{content:""; display:block; clear:both;}

.hy_photo_List>li{float:left; margin:0 0.5% 2% 0.5%; width:24%; /*lbjtree  max-width:205px;*/}
.hy_photo_List>li>a{display:block; width:100%;}
.hy_photo_List>li>a img{width:100%; height:auto;}

.hy_photo_List>li span{display:block;}
.hy_photo_List>li>.photo_Txt{padding:16px 0 0 0; width:100%;}
.hy_photo_List>li>.photo_Txt>span{padding-right:10px; width:100%; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.hy_photo_List>li>.photo_Txt>.title{padding:0 0 6px 0; width:100%; font-size:15px; color:#000;}
.hy_photo_List>li>.photo_Txt>.day{width:100%; font-size:13px; color:#999;}

.hy_photo_List>li:hover>.photo_Txt{text-decoration:underline;}

@media screen and (max-width:640px){
	.hy_photo_List>li{padding:0 1% 2% 1%; width:48%; max-width:100%;}
	.hy_join_Area .hybrid_TableWrite span.j_text{display:block; padding:8px 0 4px 0;}
}

/* FAQ */
.hy_faqType{width:100%; border-top:1px solid #333;}
.hy_faqType > dt{padding:12px 25px 12px 52px; width:100%; font-size:13px; color:#333; background-color:#fff; border-bottom:1px solid #ddd;
background-image:url("../images/board/faq_ico_off.png"), url("../images/board/faq_ico_q.png");
background-repeat:no-repeat, no-repeat;
background-position:98% 50%, 2% 50%;
cursor:pointer; }
.hy_faqType > dd{display:none; padding:12px 0 12px 50px; font-size:12px; color:#666; line-height:1.7; background:#f6f6f6 url("../images/board/faq_ico_a.png") no-repeat 2% 16px; border-bottom:1px solid #ddd;}

/* 이벤트형갤러리 */
/* 가로 */
.event_hori_Area{width:100%; border-top:1px solid #ddd;}
.event_hori_Area > li{width:100%; background:#fff; border-bottom:1px solid #ddd;}
.event_hori_Area > li:hover,
.event_hori_Area > li:active,
.event_hori_Area > li:focus{background:#f5f5f5;
-webkit-transition: all 0.4s ease-out;
-moz-transition: all 0.4s ease-out;
-o-transition: all 0.4s ease-out;
transition: all 0.4s ease-out;}
.event_hori_Area > li > a:after{display:block; content:''; clear:both;}
.event_hori_Area > li > a{display:block; padding:20px 0;}
.event_hori_Area > li > a > div.img{float:left; width:32.5%;
-webkit-transition: all 0.4s ease-out;
-moz-transition: all 0.4s ease-out;
-o-transition: all 0.4s ease-out;
transition: all 0.4s ease-out;}
.event_hori_Area > li > a > div.img img{width:100%;}
.event_hori_Area > li > a > div.event_Txt{float:right; padding:18px 0 0 0; width:64%;
-webkit-transition: all 0.4s ease-out;
-moz-transition: all 0.4s ease-out;
-o-transition: all 0.4s ease-out;
transition: all 0.4s ease-out;}
.event_hori_Area > li > a > div.event_Txt .title{width:100%; font-size:16px; color:#333; font-weight:600; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.event_hori_Area > li > a > div.event_Txt .cont{margin:18px 0; font-size:13px; color:#666; line-height:1.6em; width:100%; height:60px; overflow:hidden;}
.event_hori_Area > li > a > div.event_Txt .day{font-size:13px; color:#999;}
/* 세로 */
.event_verti_Area{margin-right:-3%; width:103%;}
.event_verti_Area:after{content:""; display:block; clear:both;}
.event_verti_Area>li{float:left; margin:0 3% 36px 0%; width:30.33%; max-width:270px; background:#fff;}
.event_verti_Area>li>a{display:block; width:100%;}
.event_verti_Area>li>a img{width:100%; height:auto;}
.event_verti_Area>li span{display:block;}
.event_verti_Area>li>.photo_Txt{padding:16px 0 0 0; width:100%;}
.event_verti_Area>li>.photo_Txt>span{padding-right:10px; width:100%; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.event_verti_Area>li>.photo_Txt>.title{width:100%; font-size:16px; color:#333; font-weight:600;}
.event_verti_Area>li>.photo_Txt>.cont{margin:16px 0; width:100%; height:40px; font-size:13px; color:#666; line-height:1.6em; overflow:hidden;}
.event_verti_Area>li>.photo_Txt>.day{width:100%; font-size:13px; color:#999;}
.event_verti_Area>li:hover>.photo_Txt>.title,
.event_verti_Area>li:active>.photo_Txt>.title,
.event_verti_Area>li:focus>.photo_Txt>.title,
.event_verti_Area>li:hover>.photo_Txt>.cont,
.event_verti_Area>li:active>.photo_Txt>.cont,
.event_verti_Area>li:focus>.photo_Txt>.cont{text-decoration:underline;}

@media all and (max-width:865px){
	.event_hori_Area > li > a > div.img{float:none; width:100%;
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;}
	.event_hori_Area > li > a > div.event_Txt{float:none; width:100%;
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-o-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;}
}
@media all and (max-width:640px){
	.hy_faqType > dt{padding:12px 20px 12px 35px;}
	.hy_faqType > dd{padding:12px 10% 12px 35px;}
	.event_verti_Area{margin-right:0; width:100%;}
	.event_verti_Area>li{float:none; margin:0 0 4% 0; width:100%; max-width:100%;}
}



/* 개발자추가 (2018.07.20) */
/* 게시판 비밀번호 */
table.pds_pass_table {  clear:both; width:200px; margin:0px; padding:0px; border-collapse: collapse; border:1px solid #000000;}
table.pds_pass_table caption  { margin: 0; padding: 0; }
table.pds_pass_table th {  vertical-align:middle; font-size:13px; text-align:center; background-color:#333333; color:#FFFFFF; padding:2px;}
table.pds_pass_table td {  vertical-align:middle; font-size:13px; text-align:center; background-color:#FFFFFF; padding:10px;}
table.pds_pass_table td .hy_Input{padding:10px; width:100%; height:30px; max-width:250px; border:1px solid #ddd;}

/* 스팸방지 코드 */
.spam_code { font-size:20px; line-height:20px;; font-weight:bold; text-align:center; padding:10px 10px 17px 10px; margin-right:8px; background-color:#000000; color:#ffffff;  display:inline-block;}
/* 댓글수 */
.tail_count { font-size:12px; color:#aaa; }
/* 필수입력 */
.fil { font-size:12px; color:#ff0000; }
/* 설명글 */
.doc { font-size:12px; color:#888888; }



/* contact us */
.email1 {width:150px;}
.email2 {width:150px;}
.email_sel {width:150px;}
@media all and (max-width:640px){
	.email1 {width:90px;}
	.email2 {width:90px;}
	.email_sel {width:90px;}
}


/* 예약및결제 달력 */
#contents .navi_wrap{position:relative; width:100%; text-align:center; clear:both; padding:0px 0 15px;}
#contents .navi_wrap p{width:100%;display:block; font-size:30px; color:#333333; font-weight:bold;font-family: "Noto Sans Korean"}
#contents .navi_wrap .ico{position:absolute; bottom:20px; right:0px;}
#contents .navi_wrap .ico li{float:left; margin-left:15px;}

#contents .calendarTable{width:100%; border-left:1px solid #ddd; border-top:1px solid #ddd; margin-bottom:150px; border-spacing:0;}
#contents .calendarTable thead{border:1px solid #ddd;}
#contents .calendarTable th{ height:35px; font-family:"돋움",dotum, sans-serif; font-size:17px; color:#333;  font-weight:600;; text-align:center; border-right:1px solid #ddd; border-bottom:1px solid #ddd; background-color:#f4f4f4;}
#contents .calendarTable td{border-right:1px solid #ddd; border-bottom:1px solid #ddd; vertical-align:top; height:100px; padding-bottom:10px; background:#fff;}
#contents .calendarTable td.today{background-color:#fefce6;}
#contents .calendarTable td div.day{ font-size:20px; font-weight:600; text-align:left; padding:4px; }
#contents .calendarTable td div.doc{ font-size:18px; color:#000; padding:4px; margin:2px;}

/* 예약및결제 */
#price { color:#ff0000; font-weight:600; }
.rev_end_text { text-align:center; padding:20px; font-size:20px; color:#000;}



.form_button{font-size:0px;}
.form_button a{width:60px; line-height:60px;  width:180px;  text-align:center; background:#23336c; display:inline-block; border-radius:60px;}
.form_button a span{color:#fff; font-size:18px; display:inline-block; vertical-align:middle; }
.form_button a img{display:inline-block; vertical-align:middle; margin-left:15px;}

#sv_slogan_data { display:none; }   /* LNB 위에 나오는 영역의 html내용 */




/*--------------------:::: 박스형 게시판 ::::----------------------*/
.search_top {border-bottom:1px solid #ddd; padding-bottom:10px; margin-bottom:50px;}
.search_top p.total{display:inline-block; float:left; font-size:18px; color:#333; height:40px; line-height:40px;}
.search_top p.total span{display:inline-block;  color:#bd9e64;}
.search_top .search_wrap{float:right; margin:0px;}
.search_wrap{width:230px; font-size:0px; margin:0 auto; margin-top:50px;}
.search_wrap select{width:100px; display:inline-block;   vertical-align:top; border:1px solid #ddd; border-radius:25px;
	background-image:url('../images/ico/arr_off_on.png'); height:40px; line-height:38px; padding:0 20px;  font-weight:200;     font-family: "Noto Sans Korean";
	background-position: top 50% right 10px;
	background-repeat:no-repeat;
	background-size:12px;
   -webkit-appearance:none; /* for chrome */
    -moz-appearance:none; /*for firefox*/
    appearance:none;
    box-sizing: border-box;}
.search_wrap select::-ms-expand{
    display:none;/*for IE10,11*/}
.search_wrap .search_box{margin-left:10px; font-size:0px;  width:250px; display:inline-block; vertical-align:middle; border-radius:50px; border:1px solid #ddd; padding:0 20px;}
.search_wrap .search_box input{height:38px; line-height:38px; font-weight:300;  letter-spacing:-0.5px; 
background:transparent;  font-family: "Noto Sans Korean"; border:none; outline:none;  font-size:14px;  color:#999;
width : -webkit- calc(100% - 20px);
width :    -moz-calc(100% - 20px);
width :         calc(100% - 20px)}
.search_wrap .search_box input:placeholder{ color:#999;  font-weight:300;     font-family: "Noto Sans Korean";}
.search_wrap .search_box button{width:20px; height: 20px; display:inline-block; vertical-align:middle;  
background-image:url('../images/ico/sb_search.png');
background-position:50% 50%;
background-repeat:no-repeat;
background-size:18px;
background-color:transparent;}


.sub_contents .news_list{font-size:0px; margin-bottom:-3%; }
.sub_contents .news_list li{display:inline-block; width:22.75%; margin-right:3%; margin-bottom:3%;
border:1px solid #ddd; background:#fff; position:relative; display: inline-block;
 -webkit-transition: background 0.3s, border 0.3s; 
    -o-transition: background 0.3s, border 0.3s;
    transition: background 0.3s, border 0.3s;}
.sub_contents .news_list li:after{content:""; display:block; position:absolute;  border:0px solid #003374; left:-1px; top:-1px;
webkit-transition: border 0.3s; 
-o-transition: border 0.3s; z-index:1;
transition: border 0.3s; box-sizing:border-box; 
width : -webkit- calc(100% + 2px);
width :    -moz-calc(100% + 2px);
width :         calc(100% + 2px);
height  : -webkit- calc(100% + 2px);
height  :    -moz-calc(100% + 2px);
height  :         calc(100% + 2px)}
.sub_contents .news_list li:hover:after{ border:5px solid #003374; }
.sub_contents  .news_list li a{display:block; padding:30px 30px; width:100%; height:100%; position:relative; z-index:5;}
.sub_contents  .news_list li span{font-size:15px; color:#666; line-height:1; display:block; letter-spacing:-1px;}
.sub_contents  .news_list li strong{font-size:24px; margin-bottom:; color:#003374; line-height:1;  display:block;  margin:11px 0 22px;}
.sub_contents .news_list li h2{font-size:20px; font-weight:600; word-break:keep-all; letter-spacing:-1px; color:#333;
  overflow:hidden; display:-webkit-box; 
width:100%; -webkit-line-clamp:2; 
-webkit-box-orient:vertical;
  height: calc(1em * 1.4 * 2);  line-height:1.4;
 -webkit-transition: color 0.3; 
    -o-transition: color 0.3s;
    transition: color 0.3s}
.sub_contents  .news_list li strong{}
.sub_contents  .news_list li p{font-size:15px; color:#666; margin-top:20px;
  overflow:hidden; display:-webkit-box; 
width:100%; -webkit-line-clamp:6; 
-webkit-box-orient:vertical;
  height: calc(1em * 1.6 * 6);  line-height:1.6;
 -webkit-transition: color 0.3; 
    -o-transition: color 0.3s;
    transition: color 0.3s}
.sub_contents  .news_list li .news_img{width:100%; margin-bottom:20px; overflow:hidden; position:relative; padding-bottom:67%; }
.sub_contents  .news_list li .news_img img{object-fit: cover;
    position: absolute;
    top: -9999px;
    right: -9999px;
    bottom: -9999px;
    left: -9999px;
    margin: auto;
    min-width: 100%;
    height: 100%;}
.sub_contents .news_list li:nth-child(4n){margin-right:0px;}

.hy_paging{text-align:center; margin-top:80px;}
.hy_paging span{ display:inline-block; vertical-align:top;}
.hy_paging span a{font-size:13px; font-weight:300; color:#999; border:1px solid #ddd; line-height:28px; height:30px; width:30px; display:block;}
.hy_paging span:hover a,
.hy_paging span.on a{background:#333; color:#fff; border:1px solid #333; font-weight:500;}


@media screen and (max-width:1080px) {
	.sub_contents .news_list li{display:inline-block; width:31.33%;}
	.sub_contents .news_list li a{padding:8% !important;}
	.sub_contents .news_list li:nth-child(n){margin-right:3%;}
	.sub_contents .news_list li:nth-child(3n){margin-right:0px;}
}


@media screen and (max-width:800px) {
	.sub_contents .news_list li{width:48.5%;}
	.sub_contents .news_list li a{padding:8% !important;}
	.sub_contents .news_list li:nth-child(n){margin-right:3%;}
	.sub_contents .news_list li:nth-child(2n){margin-right:0px;}

	.hy_paging{margin-top:10.5%;}
}

@media screen and (max-width:640px) {
	.search_top{margin-bottom:25px;}
	.search_top p.total{font-size:16px; height:30px; line-height:30px;}
	.search_wrap{width:185px; margin-top:8%}
	.search_wrap select{width:80px; font-size:12px;  height:30px; line-height:28px; padding:0 10px; background-size:8px; border-radius:20px;}
	.search_wrap .search_box{margin-left:5px; font-size:0px;  width:200px;  padding:0 10px;}
	.search_wrap .search_box input{height:28px; line-height:28px; font-size:12px;
	width : -webkit- calc(100% - 18px);
	width :    -moz-calc(100% - 18px);
	width :         calc(100% - 18px)}
	.search_wrap .search_box input:placeholder{ color:#999;  font-weight:300;     font-family: "Noto Sans Korean";}
	.search_wrap .search_box button{width:18px; height: 18px; background-size:15px}

	.sub_contents .news_list li a{padding:25px 27px;}
	.sub_contents .news_list li span{font-size:14px;}
	.sub_contents .news_list li strong{font-size:20px; margin:5px 0 11px;}
	.sub_contents .news_list li h2{font-size:17px;}
	.sub_contents .news_list li p{font-size:14px; color:#666; margin-top:15px;}
}

@media screen and (max-width:640px) {
	.sub_contents .news_list li a{padding:22px 15px;}
	.sub_contents .news_list li span{font-size:12px;}
	.sub_contents .news_list li .news_img{margin-bottom:15px;}
	.sub_contents .news_list li strong{font-size:17px; margin:5px 0 11px;}
	.sub_contents .news_list li h2{font-size:14px;}
	.sub_contents .news_list li p{font-size:12px; margin-top:10px;}
}
/*--------------------:::: 박스형 게시판  끝::::----------------------*/